body {min-width: 1280px;}
#wrap {}
#wrap header {}
/* ----------------------------------------------------------- h_top */
#wrap header .h_top_bg {background-color: blue;}
#wrap header .h_top {
    background-color: aqua; 
    width: 1280px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#wrap header .h_top #lnb_left {}
#wrap header .h_top #lnb_left li {}
#wrap header .h_top .lnb_light {}
#wrap header .h_top .lnb_light li {}
/* ----------------------------------------------------------- h_top 공통선택자 */
#wrap header .h_top #lnb_left,
#wrap header .h_top .lnb_light {
    display: flex; flex-flow: row nowrap; 
    gap: 24px; 
}
#wrap header .h_top #lnb_left li,
#wrap header .h_top .lnb_light li {
    background-color: cadetblue;
    font-size: 0.75rem; 
    line-height: 40px;
}
/* ----------------------------------------------------------- h_middle */
#wrap header .h_middle {
    background-color: bisque;
    width: 1280px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    margin-top: 22px;
}
#wrap header .h_middle h1 {width: 124px;}
#wrap header .h_middle h1 a {}
#wrap header .h_middle h1 a img {width: 100%;}
#wrap header .h_middle #search_box {
    background-color: blueviolet;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    border-radius: 20px;
    padding: 4px;
}
#wrap header .h_middle #search_box #search_input {
    background-color: plum;
    height: 28px; width: 394px;
    padding: 10px; margin-right: 28px;
}
#wrap header .h_middle #search_box #search_btn {
    background-color: pink;
    width: 30px;
    margin-right: 12px; margin-left: auto;
}
#wrap header .h_middle #search_box #search_btn img {width: 100%;}
#wrap header .h_middle #lnb_user {
    display: flex; flex-flow: row nowrap;
    gap: 23px;
}
#wrap header .h_middle #lnb_user li {width: 32px;}
#wrap header .h_middle #lnb_user li a {}
#wrap header .h_middle #lnb_user li a img {width: 100%;}
/* ----------------------------------------------------------- h_bottom */
#wrap header .h_bottom {
    background-color: lightblue;
    width: 1280px; margin: 0 auto;
    padding-bottom: 20px;
}
#wrap header .h_bottom #gnb {}
#wrap header .h_bottom #gnb ul {
    display: flex; flex-flow: row nowrap;
}
#wrap header .h_bottom #gnb > ul > li {
    /* padding: 14px 6px; */
}
/* #wrap header .h_bottom #gnb > ul > li a {
    line-height: 55px;
    font-size: 1.13rem;
    color: #666;
    background-color: darkseagreen;
    margin: 0 32px 0 0;
} */
#wrap header .h_bottom #gnb ul .main_menu a {
    font-size: 1.13rem;
    color: #666;
    background-color: darkseagreen;
    /* padding: 14px 6px;  */
    margin: 0 32px 0 0;
}
#wrap header .h_bottom #gnb ul .full_menu {}
#wrap header .h_bottom #gnb ul .full_menu #menu_open:hover + .depth1 {display: flex;}
#wrap header .h_bottom #gnb ul .full_menu #menu_open {
    width: 40px; height: 40px; 
    background-color: blue;
}
#wrap header .h_bottom #gnb ul .full_menu #menu_open img{}
#wrap header .h_bottom #gnb ul .full_menu .depth1 {/* 풀메뉴 */
    background-color: aqua;
    height: 326px;
    display: none; flex-flow: column nowrap; position: absolute; z-index: 99;
    width: 1200px;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1::before {/* depth1~2 구분선 */
    /* content: '';
    display: block;
    width: 2px; height: 100%;
    right: 0; top: 0;
    background-color: gray; position: absolute; */
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li { position: relative;
    width: 151px; 
    text-align: center;
    padding: 0 0; 
    margin: 0 32px 0 0;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 > li > .memu {
    color: #fff;
    background-color: gray; 
    line-height: 54px; 
    display: block;
    border-radius: 10px;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .active {background-color: #214595;}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .menu_wrap {
    display: flex; flex-flow: row nowrap;
    position: absolute; left: 183px; top: -108px;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .depth2 {
    display: flex; flex-flow: column nowrap;
    background-color: antiquewhite;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .depth2 li {
    width: 100%; 
    text-align: left;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .depth2 > li:hover .depth3 {display: block;}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .depth2 > li > a {
    background-color: lightpink; 
    display: none;
    width: 198px; line-height: 22px; position: relative; z-index: 999;
    font-size: 0.94rem;
    margin: 0 0 16px 30px;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .material > li > a {
    /* background-color: lightpink;  */
    display: inline-block;
    width: 198px; line-height: 22px;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .depth2 li a img {}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .menu_wrap .depth3 {
    /* background-color: blue; */ display: none; width: 198px; padding: 16px; 
    position: relative; left: 50%; transform: translateX(-50%); z-index: 1000;
    border-radius: 12px;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .menu_wrap .depth3 li {
    display: flex; flex-flow: column nowrap;
    color: #666;  background-color: #fff;
    font-size: 0.88rem; 
    line-height: 20px; 
    width: 166px; 
    margin-bottom: 8px;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .depth3 li a {}
/* 베스트 상품-------------------------------------------------------------------- */
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .menu_wrap .h_best2 {display: none;}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .menu_wrap .h_best3 {display: none;}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best {
    background-color: white;
    display: block;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best h2 {
    font-size: 1.13rem; font-weight: 500;
    margin-bottom: 10px; text-align: start;
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best_ul {
    display: flex; flex-flow: row nowrap; 
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best ul li {}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best ul li a {}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best ul li a img {width: 120px; margin-bottom: 12px;}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best ul li a p {
    text-align: start; 
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best ul li a .h_best_brand {
    font-size: 0.81rem; color: #666; 
}
#wrap header .h_bottom #gnb ul .full_menu .depth1 li .h_best ul li a .h_best_title {
    font-size: 0.88rem;
}
/* 베스트 상품 */
/* ----------------------------------------------------------- main */
#wrap main {}

/* ----------------------------------------------------------- 위로가기 fab */
#wrap main .fab {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    background-color: chartreuse;
    width: 56px; height: 56px; padding: 10px;
    border-radius: 50%;
    position: fixed; z-index: 999;
    right: 100px; bottom: 100px;
}
#wrap main .fab img {width: 100%;}
/* ----------------------------------------------------------- f_top */
#wrap footer {}
#wrap footer #f_top {}
#wrap footer #f_top a h3 {}
#wrap footer #f_top a p {}
#wrap footer #f_top .veiw {}
#wrap footer #f_top .veiw img {}
#wrap footer {}
/* ----------------------------------------------------------- f_bottom */
#wrap footer #f_bottom {}
#wrap footer #f_bottom img {}
#wrap footer #f_bottom #fnb {}
#wrap footer #f_bottom #fnb ul {}
#wrap footer #f_bottom #fnb ul li {}
#wrap footer #f_bottom #fnb ul li a {}
#wrap footer #f_bottom #fnb ul li a em {}
#wrap footer #f_bottom #fnb ul li #contact {}
#wrap footer #f_bottom address {}
#wrap footer #f_bottom address em {}
#wrap footer #f_bottom #txt {}
#wrap footer #f_bottom #customer_service {}
#wrap footer #f_bottom #customer_service a {}
#wrap footer #f_bottom #customer_service a img {}
#wrap footer #f_bottom #customer_service em {}
#wrap footer #f_bottom #customer_service #hours {}
#wrap footer #f_bottom #customer_service #break {}
